.emptyImage{
    background: url("../../../assets/images/empty_illustration.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    min-height:300px;
}

@media (min-width:768px){
    .wishlistWrapper{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media (min-width:1024px){
    .wishlistWrapper{
        grid-template-columns: repeat(4,1fr);
    }
}