.productFirstSection{
    width:100%;
    margin:0 auto;
    margin-top:1em;
}

.productImg{
    background-color:#F7F7F7;
    object-fit:contain;
    width:100%;
    min-height:300px;
}

.productIntro{
    padding-inline:0.5em;
}
.pdpBtnSection{
    display: flex;
    gap:1em;
    margin-top: 1em;
}
.buyBtn{
    background-color:var(--btn1-color);
    padding-inline:1.5em;
    padding-block:1em;
}

.addToCartBtn{
    background-color: var(--navbar-background);
    padding-inline:1em;
    padding-block:1em;
    display: flex;
}  
.goToCartBtn{
    background-color:#ff527b ;
    padding-inline:1em;
    padding-block:1em;
    display: flex;
}

.pdpBtn{
    border:none;
    border-radius:5px;
    font-size: 0.875rem;
    color:#F7F7F7;
}

.productTitleSection{

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pricing>span{
    padding-right:1em;
    font-size:1.25rem;
    color:var(--required);
}

.pricing span:nth-child(1){
    font-weight: 900;
}
.pricing span:nth-child(2){
    text-decoration: line-through;
    color:#9D9D9D;
}

.title{
    font-size:1.5rem;
    font-weight:600;
}

@media (min-width:768px){
    .productFirstSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:1em;
        padding-inline:1em;
        height: 500px;
    }
    .productImg{
        height:500px;
    }
}
