:root{

    --navbar-background:#262626;
    --navbar-color:#FFFFFF;

}

.buyerNavWrapper{
    height:15vh;
}
.logo{
    background-image: url('../../../../assets/svg/logo-no-background.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width:50%;
    min-height:50px;
}

.sidebar{
    background-color: var(--navbar-background);
    color:var(--navbar-color);
}

.icon{
    margin-right:0.5em;
}
.personIcon{
    display: flex;
    align-items: baseline;
    gap:0.1em;
}


.titleDropdown a:nth-child(1)[aria-expanded]{
    color:var(--navbar-color);
   
  }




@media (min-width:1000px){
    .buyerNavWrapper{
    background-color: var(--navbar-background)!important; 
    }
    .logo{
        background-image: url('../../../../assets/svg/logo-white.svg');
        background-position: left;
        min-height:200px;
    }
    .link{
        color:var(--navbar-color)!important;
    }

    .titleDropdown{
        padding-right:0.1em;
    }
    .personIcon{
        align-items: center;
      
    }
   
}

@media (min-width:1440px){
    .buyerNavWrapper{
        height:12vh;
     }
     .logo{
        min-height:250px;
     }
   
  
}