.productDetailEditWrapper{
    margin:0 auto;
    width:100%;
}

.productDetails{
   padding-block:1em;
}

.editFormWrapper{
    padding-inline: 1em;
}

@media (min-width:768px){
    .productDetailEditWrapper{
       padding-inline: 15em;
    }
}

@media (min-width:1024px){
    .productDetailEditWrapper{
        padding-inline: 13em;
    }
}