:root{

    --navbar-background:#262626;
    --navbar-color:#FFFFFF;

}

.mobNavbarContainer{
    max-width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* .logo img{
    width:10%;
    min-height:10px;
} */
.logo{
    background-image: url('../../../assets/svg/logo_transparent.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    min-height:120px;
}

/* .hamburgerIcon{
    padding-right:0.5em;
    position: absolute;
    right:10px;
} */

@media (min-width:700px) {
   .mobNavbarContainer{
    background-color: var(--navbar-background);
   } 
   .logo{
    background-position: left;
    min-height:150px;
   }
}

@media (min-width:1440px){
    .logo{
        min-height:180px;
       }
}