.complaintWrapper{
    margin:0 auto;
    width:100%;
    padding-inline:2em;
    background-color: #F7F7F7;
}
.headline{
    text-align: center;
    font-weight: 600;
    margin-block:2em;
}

.submitBtn{
    margin-block:1em;
}

@media(min-width:768px){
    .complaintWrapper{
        width:80%;
        margin-block:1em;
    }
}
