:root{

    --navbar-background:#262626;

}

.navbarContainer{
    background-color: var(--navbar-background);
    width:100%;
    height:10vh;
}
.logo{
    background-image: url('../../assets/svg/logo_transparent.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    min-height:200px;
}