.sidebarWrapper{
    font-size:1.5rem;
    font-weight:500;
}
.sidebar{
    background-color: #663366;
    color:#FFFFFF;
    height: 100vh;
    padding-left:1em;
    padding-block:1em;
}
.adminSidebar{
    background-color: grey;
    color:#FFFFFF;
    height: 100vh;
    padding-left:1em;
    padding-block:1em;
}

.adminSidebarHide{
    padding-left:1em;
    padding-block:1em;
    height:15vh;
}
.sidebarHide{
    padding-left:1em;
    padding-block:1em;
    height:15vh;
}
.sidebarOptionsactive{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1em;
    cursor: pointer;
}

.sidebarOptions{
    display: none;
}

.sidebarLink a{
    text-decoration: none;
    color:#FFFFFF;
}

.logo{

   background-image: url('../../../assets/svg/logo-no-background.svg');
   /* background-position:center; */
   background-size:contain;
   background-repeat: no-repeat;
   width:100%;
   min-height:50px;
   margin-block:0.2em;
}

@media (min-width:768px){
  
   .sidebarHide{
    box-shadow:none;
    padding-left: 2em;
   }
   .adminSidebarHide{
    box-shadow:none;
    padding-left: 2em;
   }
}

@media (min-width:1024px){
    .sidebarWrapper{
        font-size:1.25rem;
       }
    .sidebarOptions{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:1em;
        cursor: pointer;
        margin-top: 2em;
    }
    .sidebarHide{
        background-color:  #663366;
        color:#FFFFFF;
        height: 100vh;
        padding:0;
        padding-block:1em;
    }

    .adminSidebarHide{
        background-color: grey;
        color:#FFFFFF;
        height: 120vh;
        padding:0;
        padding-block:1em;
    }
    .navIcon{
        display: none;
    }
}
